/* color palette from <https://github.com/vuejs/theme> */
:root {
    --white: #fff;
    --white-fix: #fff;
    --white_2: #f4f5f7;
    --black: #222;
    --main: #0c68e9;
    --border: 1px solid #ffffff12;
    --gray: #f9f9f9;
    --box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 2px;
    --border-color: #dbe0eb;
}

/* semantic color variables for this project */
.dark {
    --white: #1a1d1f;
    --white_2: #333;
    --black: #fff;
    --main: #0c68e9;
    --border: 1px solid rgba(255, 255, 255, 0.04);
    --gray: #111315;
    --border-color: rgba(255, 255, 255, 0.4);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    transition: all 0.2s ease-in-out;
}

a {
    text-decoration: none;
}

input:focus,
input:active {
    outline: none;
    box-shadow: none;
}

img{
    color: transparent;
}


body {
    min-height: 100vh;
    background: var(--white);
}
