.swal-overlay {
    background-color: rgba(0, 0, 0, 0.4);
}
.swal-modal {
    background-color: var(--white);
    border: none;
}
.swal-title:first-child,
.swal-title:not(:last-child) {
    margin-top: 15px;
    font-size: 22px;
    margin-bottom: 0;
}

.swal-title {
    color: var(--black);
    padding: 0;
    padding-inline: 20px;
    text-align: left;
}
.swal-text {
    font-size: 14px;
    color: var(--black);
    opacity: 0.7;
    text-align: left;
    width: 100%;
}
.swal-button {
    background-color: var(--black);
    color: var(--white);
    border: none;
    box-shadow: none;
    border-radius: 4px;
    font-weight: 500;
    padding: 7px 27px;
    margin: 0;
    cursor: pointer;
    &--delete {
        background: var(--red);
        color: var(--white-fix);
        &:hover {
            background: var(--red) !important;
            color: var(--white-fix) !important;
        }
    }
    &.swal-button--confirm {
        background: var(--black);
        color: var(--white);
        &:hover {
            background: var(--black);
            color: var(--white);
        }
    }
    &.swal-button--cancel {
        background: var(--gray-2);
        color: var(--black);
        &:hover {
            background: var(--gray-2);
            color: var(--black);
        }
    }
}

.swal-button:active,
.swal-button:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.swal-button-container {
    margin: 0;
}

.swal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 5px;
}

.swal-icon img {
    width: 55px;
    height: 55px;
}
.swal-icon:first-child {
    margin-top: 25px;
    margin-bottom: 0;
}
.swl_qe {
    background: var(--white-fix) !important;
    max-width: 340px;
    .swal-icon {
        width: 300px;
        height: 300px;
        img {
            width: 300px;
            height: 300px;
        }
    }
    .swal-icon:first-child {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .swal-footer {
        text-align: right;
        margin: 0;
        padding-block: 20px;
        //background: red;
        display: flex;
        padding-inline: 30px;
        div {
            //background: blue;
            flex: 1;
            button {
                width: 100%;
                &.download {
                    background: var(--black-fix);
                    color: var(--white-fix);
                    &:hover {
                        background: var(--black-fix);
                        color: var(--white-fix);
                    }
                }
                &.cancel {
                    background: #eaeaea;
                    color: var(--black-fix);
                    &:hover {
                        background: #eaeaea;
                        color: var(--black-fix);
                    }
                }
            }
        }
    }
}
