[data-testid="toast-content"] {
    font-size: toRem(14);
}
.Toastify__toast {
    border-radius: 4px;
    border: none !important;
}
.Toastify__toast-body {
    margin: auto 0;
    padding: 10px;
}
.Toastify__close-button{
    color: var(--toastify-text-color-dark);
}

.Toastify__progress-bar {
	height: 3px !important;
	opacity: .5;
}

.Toastify__toast-icon{
    svg{
        width: toRem(18) !important;
        height: toRem(18) !important;
    }
}

.Toastify__close-button > svg {
	fill: currentcolor;
	height: 14px !important;
	width: 14px !important;
}

.Toastify__spinner {
	border: 2px solid;
	height: 16px !important;
	width: 16px !important;
}