@forward "./scss/base.scss";
@forward "./scss/swal";
@forward "./scss/icon";
@forward "./scss/toast";
@forward "./scss/hint";
@forward "./scss/rtl";

#app {
    margin: 0 !important;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    //overflow-x: hidden;
    box-sizing: border-box;
}

.animate__show {
    opacity: 1;
    position: relative;
    transform: scale(1);
    animation: sh 0.1s ease-in-out;
}

@keyframes sh {
    from {
        opacity: 0;
        transform: scale(0.99);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
